{% load static i18n %}
{% comment %} {% load tailwind_tags %} {% endcomment %}
{% comment %} {% load django_browser_reload %} {% endcomment %}
{% load webpack_loader static %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}djvideomem{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a video membership site built with Django">
    <meta name="author" content="Matthew Freire">
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    {% block css %}
     {% comment %} {% tailwind_css %} {% endcomment %}

  {% stylesheet_pack 'index' %} <!-- new, referring to index.css --> 
  {% javascript_pack 'index' attrs='defer' %} <!-- new, referring to index.js -->
    {% endblock %}
  </head>

  <body>

    {% include 'home_navbar.html' %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}

    {% block modal %}{% endblock modal %}
    {% include 'footer.html' %}
    {% block javascript %}
    {% endblock javascript %}
    {% comment %} {% django_browser_reload_script %} {% endcomment %}

  </body>
</html>
 

