{% extends "pages/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Ituri Airline" %}{% endblock %}

{% load static %}
{% block content %}


<div class="container px-6 py-16 mx-auto text-center mt-10">
    <div class="flex justify-center mb-6">
        <div class="w-full p-6 rounded-xl lg:w-4/5 border-2 border-mycolor hover:border-rose-500">
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm">
                <thead class="">
                    <tr>
                        <th scope="col" class="px-4 py-2 capitalize">
                        Départ & Destination
                        </th>
                        <th scope="col" class="px-4 py-2 capitalize">
                        Date & Heure du vol
                        </th>
                        <th scope="col" class="px-4 py-2 capitalize">
                          Prix du Ticket
                          </th>
                        <th scope="col" class="px-4 py-2 capitalize">
                         Total
                        </th>
                        <th scope="col" class="px-4 py-2 capitalize">
                          Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.items.all %}
                    <tr class="">
                        <th scope="row" class="px-3 py-2 ">
                        <p class="text-sm ">{{item.ticket.depart }}-{{item.ticket.destination }}</p>
                        </th>
                        <td class="px-3 py-2 capitalize">
                        <p class="text-sm ">{{item.ticket.date_du_vol|date:'d-M-Y' }}</p>
                        <p class="text-sm ">{{item.ticket.heure_du_vol }}</p>
                        </td>
                        
                        <td class="px-3 py-2">                         
                             <div class="flex justify-center ...">
                              <div class='mr-2'>
                                <div class="flex justify-center">
                                  <div class='p-2 border hover:bg-mycolor hover:text-white'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                      <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                  </div>
                                  <div class='py-2 px-3 border-y'>{{ item.quantity }}</div>
                                  <div class='p-2 border hover:bg-mycolor hover:text-white'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div class='mr-2 mt-2'> x </div>
                              <div class='mt-2'> $ {{ item.ticket.prix_ticket }}</div>
                            </div>
                          </td>
                        <td class="px-3 py-2 capitalize">
                          <p class="text-sm ">$ 0</p>
                        </td>
                        <td class="px-3 py-2 capitalize">
                        <button type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                          </svg>
                        </button>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                    

        </div>
        </div> 
    </div>
</div>




{% comment %} 
<div class="container px-6 py-16 mx-auto text-center">
  <div class="sm:flex mx-auto">
    <main class="main bg-gray-200 px-4 pb-6 w-full">
      <table class="talbe-auto text-sm mx-auto">
        <h1 class="text-2xl mb-4">My Jobs</h1>
        <thead class="text-left text-gray-900">
          <tr>
            <th class="px-4 py-2">
              <input type="checkbox">
            </th>
            <th class="px-4 py-2">
              Title
            </th>
            <th class="px-4 py-2">
              Company
            </th>
            <th class="px-4 py-2">
              Location
            </th>
            <th class="px-4 py-2">
              Publish
            </th>
            <th class="px-4 py-2">
              Applicantions
            </th>
            <th class="px-4 py-2">
              Created Date
            </th>
            <th class="px-4 py-2">Expiration Date</th>
            <th class="px-4 py-2">Status</th>
            <th class="px-4 py-2">Settings</th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          <tr class="bg-white hover:shadow-lg">
            <td class="px-4 py-3">
              <input type="checkbox">
            </td>
            <td class="px-4 py-2">Senior Frontend Engineer</td>
            <td class="px-4 py-2">
              Duck Duck Go
            </td>
            <td class="px-4 py-2">
              Berlin
            </td>
            <td class="px-4 py-2">
              <!-- toggle -->
              <label for="toogleA" class="flex items-center cursor-pointer">
                <div class="relative">
                  <!-- input -->
                  <input id="toogleA" type="checkbox" class="hidden" />
                  <!-- line -->
                  <div
                    class="toggle__line w-6 h-2 bg-gray-300 rounded-full shadow-inner"
                  ></div>
                  <!-- dot -->
                  <div
                    class="toggle__dot absolute w-4 h-4 bg-gray-400 rounded-full shadow inset-y-0 left-0"
                  ></div>
                </div>
                <!-- label -->
              </label>
            </td>
            <td class="px-4 py-2">
              0
            </td>
            <td class="px-4 py-2">20 Apr. 2020</td>
            <td class="px-4 py-2">20 May 2020</td>
            <td class="px-4 py-2 bg-green-200">Active</td>
            <td class="px-4 py-2">
              <div class="dropdown relative flex justify-center items-center transition">
                <i class="fa fa-ellipsis-h cursor-pointer" aria-hidden="true"></i>
                
                <ul class="dropdown-menu absolute bg-white hidden shadow z-10">
                  <li>
                    <a href="#" class="py-1 px-4 block hover:bg-gray-200 whitespace-no-wrap">
                      <span class="text-gray--600 mr-2">
                        <i class="fas fa-pen"></i>
                      </span>
                      Edit Job
                    </a>
                      
                    </li>
                  <li>
                    <a href="#" class="py-1 px-4 block hover:bg-gray-200 whitespace-no-wrap">
                      <span class="text-gray-600 mr-2"><i class="fa fa-trash" aria-hidden="true"></i></span>
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr> <!-- /tr-->
          
          <!--     Separtor       -->
          <tr>
            <td class="py-2"></td>
          </tr>
          
          <tr class="bg-white hover:shadow-lg">
            <td class="px-4 py-3">
              <input type="checkbox">
            </td>
            <td class="px-4 py-2">Senior Frontend Engineer</td>
            <td class="px-4 py-2">
              Duck Duck Go
            </td>
            <td class="px-4 py-2">
              Berlin
            </td>
            <td class="px-4 py-2">
              <!-- toggle -->
              <label for="toogleB" class="flex items-center cursor-pointer">
                <div class="relative">
                  <!-- input -->
                  <input id="toogleB" type="checkbox" class="hidden" />
                  <!-- line -->
                  <div
                    class="toggle__line w-6 h-2 bg-gray-300 rounded-full shadow-inner"
                  ></div>
                  <!-- dot -->
                  <div
                    class="toggle__dot absolute w-4 h-4 bg-gray-400 rounded-full shadow inset-y-0 left-0"
                  ></div>
                </div>
                <!-- label -->
              </label>
            </td>
            <td class="px-4 py-2">
              0
            </td>
            <td class="px-4 py-2">20 Apr. 2020</td>
            <td class="px-4 py-2">20 May 2020</td>
            <td class="px-4 py-2 bg-red-200">Expired</td>
            <td class="px-4 py-2">
              <div class="dropdown relative flex justify-center items-center transition">
                <i class="fa fa-ellipsis-h cursor-pointer" aria-hidden="true"></i>
                
                <ul class="dropdown-menu absolute bg-white hidden shadow z-10">
                  <li>
                    <a href="#" class="py-1 px-4 block hover:bg-gray-200 whitespace-no-wrap">
                      <span class="text-gray--600 mr-2">
                        <i class="fas fa-pen"></i>
                      </span>
                      Edit Job
                    </a>
                      
                    </li>
                  <li>
                    <a href="#" class="py-1 px-4 block hover:bg-gray-200 whitespace-no-wrap">
                      <span class="text-gray-600 mr-2"><i class="fa fa-trash" aria-hidden="true"></i></span>
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr> <!-- /tr-->
          
          <!--     Separtor       -->
          <tr>
            <td class="py-2"></td>
          </tr>
          
          <tr class="bg-white hover:shadow-lg">
            <td class="px-4 py-3">
              <input type="checkbox">
            </td>
            <td class="px-4 py-2">Senior Frontend Engineer</td>
            <td class="px-4 py-2">
              Duck Duck Go
            </td>
            <td class="px-4 py-2">
              Berlin
            </td>
            <td class="px-4 py-2">
              <!-- toggle -->
              <label for="toogleC" class="flex items-center cursor-pointer">
                <div class="relative">
                  <!-- input -->
                  <input id="toogleC" type="checkbox" class="hidden" />
                  <!-- line -->
                  <div
                    class="toggle__line w-6 h-2 bg-gray-300 rounded-full shadow-inner"
                  ></div>
                  <!-- dot -->
                  <div
                    class="toggle__dot absolute w-4 h-4 bg-gray-400 rounded-full shadow inset-y-0 left-0"
                  ></div>
                </div>
                <!-- label -->
              </label>
            </td>
            <td class="px-4 py-2">
              0
            </td>
            <td class="px-4 py-2">20 Apr. 2020</td>
            <td class="px-4 py-2">20 May 2020</td>
            <td class="px-4 py-2 bg-green-200">Active</td>
            <td class="px-4 py-2">
              <div class="dropdown relative flex justify-center items-center transition">
                <i class="fa fa-ellipsis-h cursor-pointer" aria-hidden="true"></i>
                
                <ul class="dropdown-menu absolute bg-white hidden shadow z-10">
                  <li>
                    <a href="#" class="py-1 px-4 block hover:bg-gray-200 whitespace-no-wrap">
                      <span class="text-gray--600 mr-2">
                        <i class="fas fa-pen"></i>
                      </span>
                      Edit Job
                    </a>
                      
                    </li>
                  <li>
                    <a href="#" class="py-1 px-4 block hover:bg-gray-200 whitespace-no-wrap">
                      <span class="text-gray-600 mr-2"><i class="fa fa-trash" aria-hidden="true"></i></span>
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr> <!-- /tr-->
        </tbody>
      </table>
    </main>
  </div>
</div> {% endcomment %}


{% endblock content %}

{% block javascript %}
    
{% endblock javascript %}