{% extends "pages/base.html" %}
{% load i18n %}

{% block content %}

<div class="px-3 py-2 bg-gray-100 rounded-sm">
    <h3 class="text-3xl text-gray-900">{{ ticket.title }}</h3>
    <p class="text-gray-900">${{ ticket.price }}</p>
    <p class="text-gray-600 text-sm">{{ ticket.address }}</p>

    {% if request.user.is_staff %}
    <div class="mt-5 py-5 border-t border-gray-200">
        <a href="/tickets/{{ ticket.id }}/edit/" class="text-mycolor">
            Edit
        </a>
        <a href="/tickets/{{ ticket.id }}/delete/" class="ml-3 text-mycolor">
            Delete
        </a>
    </div>
    {% endif %}

</div>

{% endblock %}